* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url('../public/assets/linii-background-fon-geometriia-abstraktsiia-tochki-sinii.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.search-bar {
  position: relative;
  display: flex;
  justify-content: center;
}
header {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  height: 100px;
}
.search-input {
  height: 50px;
  width: 450px;
  border-radius: 10px;
  background-image: url('../public/assets/icon.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 400px;
}
.search-input:active,
.search-input:hover {
  transition: 0.3s;
  background-size: 0;
}
.search-input::placeholder {
  font-size: 20px;
  text-justify: center;
}
input[type='text'] {
  font-size: 30px;
}
.search-button {
  cursor: pointer;
  position: absolute;
  top: 2px;
  margin-left: 3%;
  border: none;
  outline: none;
  height: 50px;
  width: 100px;
  font-size: 15px;
  border-radius: 10px;
  background-color: rgba(35, 15, 54, 0.842);
  color: aliceblue;
}
.search-button:hover {
  transition: 0.3s;
  background-color: rgb(35, 15, 54);
  transform: scale(1.1);
}
.search-button:active {
  transition: 0.3s;
  background-color: rgba(35, 15, 54, 0.568);
  transform: scale(0.9);
}
.card img {
  height: 300px;
  width: 280px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card {
  background-color: rgba(0, 255, 255, 0.616);
  border-radius: 10px;
  width: 280px;
  font-family: 'Open Sans', sans-serif;
  margin-left: 15px;
  margin-bottom: 15px;
}
.card p,
.card h3 {
  padding-left: 10px;
}
.card-container {
  margin: 0 auto;
  width: 70%;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
